name: Publish to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  # This workflow contains a single job called "deploy"
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

    # Step 1 - Checks-out repository under $GITHUB_WORKSPACE
    - name: Checkout
      uses: actions/checkout@v2

    # Step 2 - Push generated site to our main branch
    - name: Deploy
      uses: peaceiris/actions-main@v3
      with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: main
          publish_dir: ./
